body{
  background-color: #f8f8f5;
}
.container{
  padding-top: 20px;
}

#main{
  padding-top: 20px;
}

#header{
  margin-bottom: 150px;
}

.header{
  margin-bottom: 150px;
}

#title{
  font-family:"Times New Roman",Times,serif;
}

#sub-title{
  color: #aaaaaa;
  font-size:medium;
}

#header-hr{
  border-top: 1px solid black;
}

.header-hr{
  border-top: 1px solid black;
  margin-bottom: 20px;
}

#about{
  position: fixed;;
}

@media(max-width: 768px){
  #header{
    text-align: center;
  }
  #post{
    text-align: center;
  }
}

a{
  color: black;
}
a:hover{
  color: #aaaaaa;
}

hr{
  border-color: #bbbbbb;
  margin-top: 80px;
}

.post-header{
  margin-bottom: 50px;
  text-align: left;

}

.post-detail-header{
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 50px;
  text-align: left;
}

.post-time{
    color: #9c9c9c;
    margin-top: -10px;
}

p{
  font-size: medium;
}

#about{
  margin-top: 20px;
}

.about-post.a{
  color: #aaaaaa;
}

.markdown-body{
  text-align: left;
  margin: 10% 10%;
}

