{% extends "base.html" %}

{% block head %}
<meta charset="utf-8" />
<title>Post</title>
<link rel="stylesheet" href="../static/plugins/editor/examples/css/style.css" />
<link rel="stylesheet" href="../static/plugins/editor/css/editormd.css" />
<link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../static/css/post_page.css">
{% endblock %}

{% block content %}

<form action="/update/{{post_id}}" method="POST" id=post-form>
    
    <div id="layout">
        
        <header>
            <h1>发布</h1>
        </header>
        <div class="raw">
            <div class="col-md-6">
                <div class="input-group">
                    <input name="title" type="text" class="form-control" value="{{post.title}}" aria-describedby="basic-addon1">
                    <input name="html" type="text" style="display: none;">
                </div>
            </div>
         
            <div id="test-editormd" class="col-md-12" >
                <textarea style="display:none;" name="content">{{post.content}}</textarea>
            </div>
        </div>
    </div>
</form>
<button id="submit">提交</button>
<script src="../static/plugins/editor/examples/js/jquery.min.js"></script>
<script src="../static/plugins/editor/editormd.js"></script>
<script type="text/javascript">
    var testEditor;

    $(function () {
        // You can custom @link base url.
        editormd.urls.atLinkBase = "https://github.com/";

        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 400,
            toc: true,
            todoList: true,
            saveHTMLToTextarea : true,
            path: '../static/plugins/editor/lib/'
        });
    });
    $("#submit").bind('click', function() {
        var form = document.getElementById('post-form');
        var markdown_preview = document.getElementsByClassName('markdown-body editormd-preview-container')[0].innerHTML
        form['html'].value = markdown_preview
        form.submit();
    });


</script>

{% endblock %}