<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

</head>
<body>
<a type="button" href="{{url_for('loader')}}">导入数据</a>
<a type="button" href="{{url_for('output_all_show')}}">导出全部数据</a>
<a type="button" href="{{url_for('output_show')}}">导出单个sheet</a>
<a type="button" href="{{url_for('delete_show')}}">删除数据</a>

<p>1. 如果要导入数据, 保证 [files/income_xls] 和 [[files/expend_xls] 两个文件夹为空,  将营收数据复制到 income_xls, 成本数据复制到 expend_xls中, 点击 "导入数据" 按钮, 等待响应即可</p>
<p>2. 如果导出数据, 点击后有下级提示</p>

<p style="color:red">注意, 数据导入后会自动清空 income_xls, expend_xls 文件夹, 所以请保证文件有备份</p>
</body>
</html>